* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(16, 16, 72);
}

.nav a {
  color: whitesmoke;
  display: grid;
  place-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.nav button {
  display: grid;
  place-content: center;
}

button {
  background: #70b4e9;
  border: none;
  border-radius: 40px;
  height: 5vh;
  width: 10rem;
  color: whitesmoke;
}

/* HEADER */
header {
  display: grid;
  place-items: center;
}

.header {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  gap: 5rem;
}

header div :nth-child(2) {
  margin-block: 2rem;
}

img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

span {
  color: rgb(150, 206, 241);
}

.icon_section div {
  color: white;
  display: flex;
  gap: 0.5rem;
  padding-inline: 1rem;
}
.icon_section p {
  margin: 0px;
}

.icon_section {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

/* MAIN */
main {
  background: white;
  display: grid;
  place-content: center;
  text-align: center;
  padding-block: 2rem;
}

.cards {
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.card {
  background: rgb(218, 218, 218);
  max-height: 30vh;
  padding: 2rem;
  max-width: 70vw;
}
